<form autocomplete="off" #editUserModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "Editar evento" | localize }}</h1>
    <mat-dialog-content style="width:800px;height:250px;">
      <mat-tab-group>
        <mat-tab [label]="'Detalles del evento' | localize">
          <br />
          <div class="row-fluid">
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput
                           name="Nombre"
                           [placeholder]="'Nombre' | localize"
                           [(ngModel)]="evento.nombreEvento"
                           required
                           minlength="2"
                           maxlength="100" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput
                           name="Fecha"
                           [placeholder]="'Fecha' | localize"
                           [(ngModel)]="evento.fecha"
                           required
                           type="date"/>
                </mat-form-field>

                <mat-form-field>
                    <input matInput
                           name="Hora"
                           [placeholder]="'Hora' | localize"
                           [(ngModel)]="evento.hora"
                           required
                           type="time" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput
                           name="Requisitos"
                           [placeholder]="'Requisitos' | localize"
                           [(ngModel)]="evento.requisitos"
                           minlength="2"
                           maxlength="102" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput
                           name="Descripcion"
                           [placeholder]="'Descripcion' | localize"
                           [(ngModel)]="evento.descripcion_Evento"
                           minlength="2"
                           maxlength="202" />
                </mat-form-field>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
      <button mat-button type="button" [disabled]="saving" (click)="close(false)">
        {{ "Cancelar" | localize }}
      </button>
      <button
        mat-flat-button
        type="submit"
        flex="15"
        color="primary"
        [disabled]="!editUserModal.form.valid || saving"
      >
        {{ "Guardar" | localize }}
      </button>
    </div>
  </form>
  